<div class="pais-card">
  <div class="pais-card__content">
    <div class="pais-card__header">
      <h3 class="pais-card__title">{{ pais.nombre }}</h3>
      <p class="pais-card__subtitle">{{ pais.country }}</p>
    </div>

    <div class="pais-card__actions">
      <button #btnAccion *ngIf="mostrarBoton" class="btn btn--primary" (click)="accion(btnAccion)">
        <span class="btn__icon">{{ iconoBoton }}</span>
        <span class="btn__text">{{ etiquetaBoton }}</span>
      </button>     
    </div>
  </div>
</div>